# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://your-supabase-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

# Banco Nacional de Crédito (BNC) - Credenciales de Pasarela
BNC_CLIENT_GUID=0b8b6f31-c78a-49be-96b2-74178e441441
BNC_MASTER_KEY=88540871e54f4eb75e69d0304abfade2
BNC_COMMERCE_NAME=EMPRENDIMIENTO GABRIEL GARCIA 11
BNC_MERCHANT_RIF=J-505151452
BNC_MERCHANT_ACCOUNT=01910261162100074044
BNC_MERCHANT_PHONE=04125589074
BNC_API_URL=https://servicios.bncenlinea.com:16500/api
